extends layout

block content
  h1 JavaScript Obfuscator Client-Side Tests
  .menu-items
    .obfuscation-set
      a(href="/tests/default") No obfuscation

  .menu-items
    .obfuscation-set
      a(href="/tests/boolean-literal") 'boolean-literal' test

  .menu-items
    .obfuscation-set
      a(href="/tests/domain-lock-local") 'domain-lock-local' test

  .menu-items
    .obfuscation-set
      a(href="/tests/domain-lock-azure") 'domain-lock-azure' test

  .menu-items
    .obfuscation-set
      a(href="/tests/local-declaration") 'local-declaration' test

  .menu-items
    .obfuscation-set
      a(href="/tests/local-declaration-base62") 'local-declaration-base62' test

  .menu-items
    .obfuscation-set
      a(href="/tests/property-indirection") 'property-indirection' test

  .menu-items
    .obfuscation-set
      a(href="/tests/string-literal") 'string-literal' test

  .menu-items
    .obfuscation-set
      a(href="/tests/property-name") 'property-name' test

  .menu-items
    .obfuscation-set
      a(href="/tests/partial-property-name") 'partial-property-name' test

  .menu-items
    .obfuscation-set
      a(href="/tests/octal-literal") 'octal-literal' test

  .menu-items
    .obfuscation-set
      a(href="/tests/randomize-octal-literal") 'randomize-octal-literal' test

  .menu-items
    .obfuscation-set
      a(href="/tests/control-flow") 'control-flow' test

  .menu-items
    .obfuscation-set
      a(href="/tests/partial-control-flow") 'partial-control-flow' test

  .menu-items
    .obfuscation-set
      a(href="/tests/randomize-control-flow") 'randomize-control-flow' test

  .menu-items
    .obfuscation-set
      a(href="/tests/function-reordering") 'function-reordering' test

  .menu-items
    .obfuscation-set
      a(href="/tests/function-reordering-randomize") 'function-reordering-randomize' test
